html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  margin-top: 30px;
  max-height: 600px;
}

.sticky-head {
  position: sticky;
  top: 0;
}

.diagonal-gradient {
  background: linear-gradient(to bottom right, blue, pink);
}

.div-margins {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-paddings {
  margin-left: 8px;
  margin-right: 8px;
}

.check-label {
  display: block;
}