@model List<FakeUserGenerator.Application.CQs.User.Queries.GetUsersList.UserDto>

@{
    ViewData["Title"] = "FakeUsersTable";
}

<div>
    <div>
        <span>Enter a country</span>
        <select id="sel-country" min="0">
            <option value="en_CA" selected>Canada</option>
            <option value="ja">Japanese</option>
            <option value="sv">Sweden</option>
        </select>
    </div>
    <div>
        <span>Choose the number of errors</span>
        <input type="range" value="0" min="0" max="10" step="0.25" id="range-errors"/>
        <input type="number" min="0" max="1000" value="0" id="input-count-errors"/>
    </div>
    <div>
        <span>Set seed</span>
        <input type="number" min="0" max="1000" value="0" id="input-seed">
        <button type="button" id="seed-btn">Generate</button>
    </div>
</div>
<div class="table-responsive container" id="all-table">
    <table id="table" class="table table-responsive table-bordered">
        <thead class="sticky-head">
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">PhoneNumber</th>
        </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
</div>
<script src="~/js/site.js"></script>


